<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464956154250-7ejj86afvnajm2d1j3kgpt8ktm7u03p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464956154250-7ejj86afvnajm2d1j3kgpt8ktm7u03p2</string>
	<key>API_KEY</key>
	<string>AIzaSyAGEZqTH9dlC5yxq0_vPK0HzebTA-RfLkU</string>
	<key>GCM_SENDER_ID</key>
	<string>464956154250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tbdetect</string>
	<key>PROJECT_ID</key>
	<string>tbdetector-65a03</string>
	<key>STORAGE_BUCKET</key>
	<string>tbdetector-65a03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464956154250:ios:ee9921796b6e1c519d2873</string>
</dict>
</plist>